include ../../utils/mixins

section.allDiscounts
    section.container   
        h1.allDiscounts-title Essay Discounts

        section.main
            +discount('SpeedyPaper')
            +discount('SpeedyPaper')
            +discount('SpeedyPaper')
            +discount('SpeedyPaper')
            +discount('SpeedyPaper')
            +discount('SpeedyPaper')
            +discount('SpeedyPaper')
            +discount('SpeedyPaper')
            +discount('SpeedyPaper')
            +discount('SpeedyPaper')
            +discount('SpeedyPaper')
            +discount('SpeedyPaper')
            +discount('SpeedyPaper')
            +discount('SpeedyPaper')
include ../popupWindow

