include ../../utils/mixins

section.allDiscounts
    section.container   
        h1.allDiscounts-title Essay Discounts

        section.main#listShow
            +discount('SpeedyPaper')
            +discount('SpeedyPaper')
            +discount('SpeedyPaper')
            +discount('SpeedyPaper')
            +discount('SpeedyPaper')
            +discount('SpeedyPaper')
            +discount('SpeedyPaper')
            +discount('SpeedyPaper')
            +discount('SpeedyPaper')
            +discount('SpeedyPaper')
            +discount('SpeedyPaper')
            +discount('SpeedyPaper')
            +discount('SpeedyPaper')
          
        div#pager
include ../popupWindow

