section.head-block 
    img(src="./img/header-background.svg", alt="", srcset="" class="head-img")
    section.container.head-block-cont
        h1.title-essay Dozens of essay discounts gathered <br>in one place. EssayPromoCode — <br> <strong>We help students save money!</strong>
        button.choose-disc
            a(href="essayDiscounts.html", target="_blank") choose discount
