include ../../utils/mixins

section.main-content
    section.inner-main
        section.container
            section.inner-cont
                header
                    h2.content-title WHAT’S THE PURPOSE OF ESSAYPROMOCODE.COM?
                    p Back to my college years I struggled to keep the work-life balance as I worked after classes to keep myself afloat. Sometimes I didn’t have time to do all my assignments myself, and fearing to be expelled from college, I sought help from custom writing companies. If you’re on this site and reading it, then chances are you know how expensive their services may be. I remember looking for essay writing promo codes and discounts to save some cash. But many essay coupons I found were either expired or there was no coupon for the site I was going to order from. Already at that time, I had thoughts of creating a website where I could gather essay promo codes, discounts, coupons, and deals of as many as possible custom writing companies. At EssayPromoCodes.com we try to update discounts regularly so you get only the best and most relevant deals.
            section.tiles
                +tiles('SpeedyPaper', './img/Screenshot_1.jpg')
                +tiles('EssayAssist', './img/Screenshot_2.jpg')
                +tiles('SuperbPaper', './img/Screenshot_3.jpg')
                +tiles('UKEssays', './img/Screenshot_4.jpg')
                +tiles('EduBirdie', './img/Screenshot_5.jpg')
                +tiles('123HelpMe', './img/Screenshot_6.jpg')
                +tiles('StudyBay', './img/Screenshot_7.jpg')
                +tiles('EssayPro', './img/Screenshot_8.jpg')
                +tiles('PaperHelp', './img/Screenshot_9.jpg')
                +tiles('Ultius', './img/Screenshot_10.jpg')
                +tiles('CareersBooster', './img/Screenshot_11.jpg')
                +tiles('EssayEdge', './img/Screenshot_12.jpg')
    section.inner-foot    
        section.container
            section.inner-cont
                h2.content-title CAN I TRUST THE SERVICE WHOSE PROMO CODE I FOUND ON YOUR WEBSITE?
                p Unfortunately, I cannot vouch for all websites whose promo codes you can find here. But I would like to warn you that recently there has been a surge in essay writing companies. Due to high incidence of students getting scammed, I do advise you to make time and do some research about the writing company you’re gonna to order from. How can you check the credibility of the custom writing service? First, go online and read reviews on sites like ScamFighter, TrustPilot, and SiteJabber. But be careful as there can be fake reviews on TrustPilot and SiteJabber. Look how many positive and negative reviews the service has, if all reviews are positive, then there’s a reason to cast doubt on this service.
                h2.content-title WHAT SHOULD I DO IF THERE’S NO ESSAY DISCOUNTS OF THE SERVICE I WANT TO ORDER FROM?
                p In the case you can’t find a promo code of the desired essay writing company, you can do the following:
                ul.inner-foot-list
                    li Write to essaypromocode@mail.com and we try to contact the service and ask for their coupon.
                    li You can go the company’s website and ask for any discounts available in the live chat. Usually, if they have any deals, the support manager will give you a promo code which you’ll have to apply at the checkout.




