footer.main-foot {
    background-color: #1B172F;
    display: flex;
    justify-content: center;
    padding: 25px 0;
    font-size: 25px;
    color: #fff;

    @media(max-width: $bigPhoneWidth) {
        font-size: 14px;
        padding: 10px 0;
    }
}