@import "../utils/vars";

.head-site {
    background: #1C172F;
    padding: 25px 0;
    font-size: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    @media(max-width:$tableWidth) {
        font-size: 15px;
    }

    .head-content {
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media(max-width:$desktopWidth) {
            padding: 0 20px;
        }
    }

    .title {
        font-weight: bold;
        color: #fff;

        span {
            color: #57ca6c
        }
    }

    .head-link-green {
        background: rgba(42, 36, 73, 0.58);
        border-radius: 7px 7px 0px 0px;
        padding: 10px 20px;
        border-bottom: 1px solid #00D66F;
        box-sizing: border-box;
    }
}