section.popup 
  article.window
    header.head 
      img(src="./img/popup.png", alt="").img-title
      h2.title GET 15% OFF YOUR PURCJASE
      button.close-btn +
    section.cont
      h4.section-title Copy the code and go to <a href='' class='myadmis'>Myadmissionsessay.com</a>
      h4.section-title-mobile Copy the code 
      section.code-field
        div.copy-code REDt45EW
        button.copy-btn TAP TO COPY
      h4.section-title-mobile  and go to <a href='' class='myadmis'>Myadmissionsessay.com</a>
      
     
