.head-block {
    overflow: hidden;
    padding: 0;
    background: #302A4F;
    position: relative;

    @media(max-width:1140px) {
        font-size: 20px;
    }

    .head-block-cont {
        position: absolute;
        left: 10%;
        top: 15%;

        @media(max-width:715px) {
            position: relative;
            padding: 35px 0;
            text-align: center;
            top: 0;
            left: 0;
        }
    }

    .head-img {
        width: 100%;
        z-index: -1;
        margin-top: -42px;

        @media(max-width:715px) {
            display: none;
        }
    }

    .title-essay {
        font-size: 40px;
        color: #fff;

        @media(max-width:1140px) {
            font-size: 25px;
        }

        @media(max-width:480px) {
            font-size: 18px
        }
    }

    .choose-disc {
        background: #00D66F;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 7px;
        color: #fff;
        text-transform: uppercase;
        margin-top: 20px;
        font-size: 25px;
        transition: .5s;

        a {
            display: inline-block;
            padding: 25px 50px;

            @media(max-width:870px) {
                padding: 15px 35px;
                font-size: 16px;
            }
        }
    }

    .choose-disc:hover {
        background: #048547
    }
}