@import "../../utils/vars";

.main-content {
    color: #a7a19d;
    font-size: 20px;

    @media(max-width:$bigPhoneWidth) {
        font-size: 15px;
    }

    .inner-main {
        background-color: #f6f6f6;
        padding-bottom: 50px;

        @media(max-width:$bigPhoneWidth) {
            padding: 0 1.25em 30px;
        }
    }

    .inner-cont {
        padding: 0 20px 45px;

        @media(max-width:$bigPhoneWidth) {
            padding: 0;
        }
    }

    .inner-foot {
        @media(max-width:$bigPhoneWidth) {
            padding: 0 1.25em 30px;
        }
    }

    h2 {
        text-align: center;
        letter-spacing: 10px;
        font-weight: 900;
        font-size: 28px;
        text-transform: uppercase
    }

    .tile-title {
        font-size: 25px;
        font-weight: 700;
        letter-spacing: 7px;

        @media(max-width: $tableWidth) and (min-width: $bigPhoneWidth) {
            letter-spacing: 2px;
            font-size: 20px;
        }

        @media(max-width: $bigPhoneWidth) {
            letter-spacing: 5px;
            font-size: 25px;
        }

    }

    .content-title {
        color: #585858;
        padding: 50px 0;

        @media(max-width:$tableWidth) {
            line-height: 28px;
            letter-spacing: inherit;
            padding: 25px 0;
            font-weight: 600;
        }

        @media(max-width:$tableWidth) and(min-width:$phoneWidth) {
            font-size: 23px;
        }

        @media(max-width:$phoneWidth) {
            font-size: 18px;
        }
    }

    p,
    li {
        line-height: 35px;
    }

    p {
        @media(max-width:$bigPhoneWidth) {
            line-height: 25px;
        }
    }

    .tiles {
        display: flex;
        flex-wrap: wrap;
        padding-right: 2.5em;

        @media(max-width: $bigPhoneWidth) {
            padding: 0;
        }
    }

    .tile-cont {
        width: calc(33.3333333333% - 2.5em);
        margin: 2.5em 0 0 2.5em;
        position: relative;

        @media(max-width: $smDesktopWidth) and (min-width: $tableWidth) {
            width: calc(50% - 2.5em);
            margin: 2.5em 0 0 2.5em;
        }

        @media(max-width: $tableWidth) and (min-width: $bigPhoneWidth) {
            width: calc(50% - 1.25em);
            margin: 1.25em 0 0 1.25em;
        }

        @media(max-width: $bigPhoneWidth) {
            width: 100%;
            margin: 1.25em 0 0 0;
        }
    }


    .tile-link {
        position: absolute;
        z-index: 1;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }



    .tile-image {
        transition: 0.5s ease;
        position: relative;
        display: block;
        width: 100%;
        border-radius: 4px;
        overflow: hidden;
    }

    .tile-cont:hover .tile-image {
        transform: scale(1.1);
    }

    .tile-cont:hover .tile-image::before {
        background-color: #585858 !important
    }

    .tile-image::before {
        content: '';
        position: absolute;
        opacity: 0.8;
        width: 100%;
        height: 100%;
        transition: .5s
    }

    .tile-cont:first-child,
    .tile-cont:nth-child(9) {
        .tile-image::before {
            background-color: #f2849e;
        }
    }

    .tile-cont:nth-child(2),
    .tile-cont:nth-child(7) {
        .tile-image::before {
            background-color: #7ecaf6;
        }
    }

    .tile-cont:nth-child(3),
    .tile-cont:nth-child(8) {
        .tile-image::before {
            background-color: #7bd0c1;
        }
    }

    .tile-cont:nth-child(4),
    .tile-cont:nth-child(12) {
        .tile-image::before {
            background-color: #c75b9b;
        }
    }

    .tile-cont:nth-child(5) {
        .tile-image::before {
            background-color: #ae85ca;
        }
    }

    .tile-cont:nth-child(6),
    .tile-cont:nth-child(11) {
        .tile-image::before {
            background-color: #8499e7;
        }
    }

    .tile-cont:nth-child(10) {
        .tile-image::before {
            background-color: #ae85ca;
        }
    }

    .inner-foot-list {
        margin-top: 50px;
        padding-left: 25px;

        @media(max-width:$tableWidth) {
            margin-top: 25px;
        }
    }
}