mixin tiles(title, tileImg)
    article.tile-cont
        a(href="", target="_blank", rel="").tile-link
            h2.tile-title=title
        span.tile-image
            img(src=tileImg, alt="", srcset="")
mixin discount(link)
    article.discount
        section.content
            div.percent 15% <br> off   
            section.text
                header MyAdmissionEssay
                p Use the code at checkout to save 15% on your purchase.
        button.get-code
            a()
                span.show-get-code DEREW
                div.hide-get-code
                span.hide-text GET CODE 
        footer.foot 
            i.far.fa-calendar-alt 
            div Expire date: 2019-08-09           
    