mixin tiles(title, tileImg)
    article.tile-cont
        a(href="", target="_blank", rel="").tile-link
            h2.tile-title=title
        span.tile-image
            img(src=tileImg, alt="", srcset="")
mixin discount(link)
    article.discount
        section.content
            div.percent 15% <br> off   
            section.text
                header MyAdmissionEssay
                p Use the code at checkout to save 15% on your purchase.
        +get-code('open-popup', link)
        footer.foot 
            i.far.fa-calendar-alt 
            div Expire date: 2019-08-09 
mixin get-code(name,link)
    button.get-code(class=name)
        if(link)
            a(href='index.html' data-url=link).redirect-page
                span.show-get-code DEREW
                div.hide-get-code
                span.hide-text GET CODE 
        else
            a()  
                span.show-get-code DEREW
                div.hide-get-code
                span.hide-text GET CODE 
        
               

mixin advantage-discount(name,link)
    section.content
        article.active.not-active
            header.head
                div.info
                    h1 SpeedyPaper
                    div.all-icons
                        span.icon <i class="fas fa-user"></i> People used 128
                        span.icon <i class="far fa-calendar-alt"></i> Expire date: 2019-08-09
                div.discount 
                    span 15% <br>OFF

                +get-code(name,link)

            p.text SpeedyPaper is a widely known custom writing company which offers on-demand writing assistance with a wide range of academic subjects. SpeedyPaper can help you both with a simple High school essay and difficult piece of matlab or other assignment which requires problem-solving skills. Usually, SpeedyPaper discount code is for 10% your first order. But there are special SpeedyPaper coupons: 20%, 30% or even 60% off on special occasions like Easter or Christmas.
            button.get-code.get-code-not-active.open-popup
                a()
                    span.show-get-code DEREW
                    div.hide-get-code
                    span.hide-text GET CODE    

mixin status-discount(name, link)
    section.desktop 
        h1.title SpeedyPaper Discount Code
        section.content
            article.active
                header.head
                    div.info
                        h1 SpeedyPaper
                        div.all-icons
                            span.icon <i class="fas fa-user"></i> People used 128
                            span.icon <i class="far fa-calendar-alt"></i> Expire date: 2019-08-09
                    div.discount 
                        span 15% OFF
                
                p.text SpeedyPaper is a widely known custom writing company which offers on-demand writing assistance with a wide range of academic subjects. SpeedyPaper can help you both with a simple High school essay and difficult piece of matlab or other assignment which requires problem-solving skills. Usually, SpeedyPaper discount code is for 10% your first order. But there are special SpeedyPaper coupons: 20%, 30% or even 60% off on special occasions like Easter or Christmas.
            
                +get-code(name, link)

            section.types
                aside.top
                    header <i class="fas fa-medal"></i> TOP 3 BIG DISCOUNT
                    ul 
                        li <span class='percent'>15% OFF </span> SPEEDYPAPER
                        li <span class='percent'>10% OFF </span> PAPERHELP
                        li <span class='percent'>10% OFF </span> WRITEPAPERFOR.ME
                    
                aside.popular
                    header <i class="fas fa-fire"></i> POPULAR DISCOUNT
                    ul 
                        li <span>15% OFF</span> SPEEDYPAPER
                        li <span>12% OFF</span> PAPERHELP
                        li <span>7% OFF</span> WRITEPAPERFOR.ME    
                        li <span>6% OFF</span> PAPERHELP
                        li <span>10% OFF</span> WRITEPAPERFOR.ME                                            

mixin mobile-status(name,link)
    section.content.mobile 
        section.types
            aside.top
                header <i class="fas fa-medal"></i> <span>TOP 3 BIG DISCOUNT</span>
                ul 
                    li <span>SPEEDYPAPER</span> <span class='percent'> 15% OFF </span> 
                    li <span>PAPERHELP</span> <span class='percent'> 10% OFF </span>
                    li <span>WRITEPAPERFOR.ME</span> <span class='percent'> 10% OFF </span>
        article.active
            h1.title SpeedyPaper Discount Code
            header.head
                div.info
                    div.all-icons
                    span.icon <i class="fas fa-user"></i> People used 128
                    span.icon <i class="far fa-calendar-alt"></i> Expire date: 2019-08-09
                div.discount 
                    span 15% OFF
                
            p.text SpeedyPaper is a widely known custom writing company which offers on-demand writing assistance with a wide range of academic subjects. SpeedyPaper can help you both with a simple High school essay and difficult piece of matlab or other assignment which requires problem-solving skills. Usually, SpeedyPaper discount code is for 10% your first order. But there are special SpeedyPaper coupons: 20%, 30% or even 60% off on special occasions like Easter or Christmas.
            
            +get-code(name,link)

        section.types
            aside.popular
                header <i class="fas fa-fire"></i> POPULAR DISCOUNT
                ul 
                    li <span>15% OFF</span> SPEEDYPAPER
                    li <span>12% OFF</span> PAPERHELP
                    li <span>7% OFF</span> WRITEPAPERFOR.ME    
                    li <span>6% OFF</span> PAPERHELP
                    li <span>10% OFF</span> WRITEPAPERFOR.ME    
