extends ../layout/main

block variables
  - var title = 'Active Discounts'

block content 
  section.status-discounts-content
    include ../modules/header
    include ../modules/statusDiscounts/active
    include ../modules/footer


    