extends ../layout/discount

block variables
  - var title = 'Essay Discounts'

block content 
    include ../modules/essay-header
    include ../modules/allDiscount/allDiscounts-main-info
    include ../modules/footer
