extends ../layout/main

block variables
  - var title = 'Essaypromocode'


block content 
  include ../modules/header
  include ../modules/mainPage/head-block
  include ../modules/mainPage/main-information
  include ../modules/footer
