extends ../layout/not-active

block variables
  - var title = 'Not Active Discounts'

block content 
  section.status-discounts-content
    include ../modules/header
    include ../modules/statusDiscounts/not-active
    include ../modules/footer


    