@import "utils/libs";
@import "utils/vars";
@import "utils/reset";

html {
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainFontColor;
  height: 100%;

}

body {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  position: relative;
}


section,
.section {
  position: relative;
}

.container {
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  margin: 0 auto;
  max-width: $desktopWidth;
}

.status-discounts-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



@import 'utils/common.scss';
@import 'modules/header';
@import 'modules/mainPage/head-block.scss';
@import 'modules/mainPage/main-information.scss';
@import 'modules/allDiscounts/index.scss';
@import 'modules/allDiscounts/popup.scss';
@import 'modules/statusDiscount/index.scss';
@import 'modules/footer.scss';