@import "utils/libs";
@import "utils/vars";
@import "utils/reset";

html {
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainFontColor;
  height: 100%;

}

body {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  position: relative;
}


section,
.section {
  position: relative;
  // padding: 40px 0;

  // @media screen and (max-width: $desktopWidth) {
  //   padding: 36px 0;
  // }

  // @media screen and (max-width: $desktopWidth) {
  //   padding: 28px 0;
  // }

  // @media screen and (max-width: $desktopWidth) {
  //   padding: 20px 0;
  // }
}

.container {
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  margin: 0 auto;
  max-width: $desktopWidth;

  // @media screen and (max-width: $smDesktopWidth) {
  //   max-width: $tableWidth;
  // }

  // @media screen and (max-width: $tableWidth) {
  //   max-width: 100%;
  // }

  // @media screen and (max-width: $phoneWidth) {
  //   max-width: $smPhoneWidth;
  // }
}

@import 'modules/header';
@import 'modules/mainPage/head-block.scss';
@import 'modules/mainPage/main-information.scss';
@import 'modules/allDiscounts/index.scss';
@import 'modules/allDiscounts/popup.scss';
@import 'modules/footer.scss';