include ../../utils/mixins
section.status-discount
  section.container
    +status-discount('open-popup', 'active-discounts.html')
    +mobile-status('open-popup','active-discounts.html')

include ../popupWindow
