section.desktop 
  h1.title SpeedyPaper Discount Code
  section.content
    article.active
      header.head
        div.info
          h1 SpeedyPaper
          div.all-icons
            span.icon <i class="fas fa-user"></i> People used 128
            span.icon <i class="far fa-calendar-alt"></i> Expire date: 2019-08-09
        div.discount 
          span 15% OFF
        
      p.text SpeedyPaper is a widely known custom writing company which offers on-demand writing assistance with a wide range of academic subjects. SpeedyPaper can help you both with a simple High school essay and difficult piece of matlab or other assignment which requires problem-solving skills. Usually, SpeedyPaper discount code is for 10% your first order. But there are special SpeedyPaper coupons: 20%, 30% or even 60% off on special occasions like Easter or Christmas.
      
      button.get-code
          a()
              span.show-get-code DEREW
              div.hide-get-code
              span.hide-text GET CODE 
    
    section.types
      aside.top
        header <i class="fas fa-medal"></i> TOP 3 BIG DISCOUNT
        ul 
          li <span class='percent'>15% OFF </span> SPEEDYPAPER
          li <span class='percent'>10% OFF </span> PAPERHELP
          li <span class='percent'>10% OFF </span> WRITEPAPERFOR.ME
          
      aside.popular
        header <i class="fas fa-fire"></i> POPULAR DISCOUNT
        ul 
          li <span>15% OFF</span> SPEEDYPAPER
          li <span>12% OFF</span> PAPERHELP
          li <span>7% OFF</span> WRITEPAPERFOR.ME    
          li <span>6% OFF</span> PAPERHELP
          li <span>10% OFF</span> WRITEPAPERFOR.ME    