include ../../utils/mixins

section.status-discount
  section.container
    +status-discount('yakor')
    +mobile-status('')
h1.oops-title  <span>Ooooops... this was the last discount!</span><br> We suggest you use the following popular services. <br>Take advantage of the discount now before they run out!
section.status-discount
  section.container
    +advantage-discount('open-popup')
    +advantage-discount('open-popup')
    +advantage-discount('open-popup')
include ../popupWindow


    